@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "ViRegular", "Helvetica", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
	height: 67px;
	width: 5px;
	background-color: #ee2737;
}